/CampaignThread.class
/CampaignXmlParser.class
/FTPCampaign.class
/FTPCampaignExecutor$Builder.class
/FTPCampaignExecutor$FTPRejectedExecutionHandler.class
/FTPCampaignExecutor.class
/FTPCampaignManager.class
/FTPCampaignManager$1.class
