/SRBTCopyUpdatePublisher.class
/SRBTDownloadUpdatePublisher.class
/SRBTGiftUpdatePublisher.class
/SRBTSelectionUpdatePublisher.class
/SRBTSubscriberUpdatePublisher.class
/SocialRBTBaseUpdatePublisher.class
