/ApplicationDetails.class
/BiDownloadHistory.class
/Bookmark.class
/Bookmarks.class
/BulkTask.class
/CallDetails.class
/ChargeClass.class
/ChargeSms.class
/ComvivaConsent.class
/Consent.class
/Consents.class
/CopyData.class
/CopyDetails.class
/Cos.class
/Download.class
/Downloads.class
/Feed.class
/FeedStatus.class
/Gift.class
/GiftInbox.class
/GiftOutbox.class
/Group.class
/GroupDetails.class
/GroupMember.class
/GroupMemberList.class
/Library.class
/MobileAppRegistration.class
/NewChargeClass.class
/NewSubscriptionClass.class
/NextServiceCharge.class
/NotificationBean.class
/NotificationDetails.class
/Offer.class
/Parameter.class
/PendingConfirmationsRemainder.class
/PickOfTheDay.class
/PredefinedGroup.class
/RBTLoginUser.class
/RSSFeedScheduler.class
/Rbt.class
/RecentSelection.class
/Retailer.class
/SMSHistory.class
/SMSText.class
/Setting.class
/Settings.class
/Site.class
/Subscriber.class
/SubscriberPack.class
/SubscriberPromo.class
/SubscriptionClass.class
/TopLikeSong.class
/TopLikeSubscriberSong.class
/TransData.class
/Transaction.class
/ViralData.class
/WCHistory.class
