/ApplicationDetailsRequest.class
/BookmarkRequest.class
/BulkSelectionRequest.class
/BulkSubscriptionRequest.class
/BulkUpdateDetailsRequest.class
/CallLogRestRequest.class
/ConsentRequest.class
/ContentRequest.class
/CopyRequest.class
/DataRequest.class
/GiftRequest.class
/GroupRequest.class
/MemcacheContentRequest.class
/RBTDownloadFileRequest.class
/RbtDetailsRequest.class
/Request.class
/SelectionRequest.class
/SngRequest.class
/SubscriptionRequest.class
/UpdateDetailsRequest.class
/UtilsRequest.class
/ValidateNumberRequest.class
