/BasicResponseHandler.class
/ComvivaResponse.class
/ComvivaResponseHandler.class
/DoubleConfirmationConsentPushThread.class
/DoubleConfirmationContentProcessThread.class
/DoubleConfirmationDBFetcher.class
