/ViralOptOutRequestExecutor$Builder.class
/ViralOptOutRequestExecutor.class
/ViralOptOutRequestPublisher.class
/ViralPendingRequestExecutor$Builder.class
/ViralPendingRequestExecutor.class
/ViralPendingRequestPublisher.class
/ViralPromotion.class
