/Access.class
/BulkActivation.class
/BulkPromo.class
/BulkPromoSMS.class
/Categories.class
/ChargeClassMap.class
/ChargePromoTypeMap.class
/Clips.class
/ContentRelease.class
/ContextTable.class
/DeactivatedSubscribers.class
/FeedSchedule.class
/FeedStatus.class
/GCMRegistration.class
/GroupMembers.class
/Groups.class
/Monitoring.class
/OnVoxUser.class
/PickOfTheDay.class
/Poll.class
/PreDefinedGroups.class
/PromoMaster.class
/PromoTable.class
/ProvisioningRequests$ExtraInfoKey.class
/ProvisioningRequests$Status.class
/ProvisioningRequests$Type.class
/ProvisioningRequests.class
/RBTBulkUploadSubscriber.class
/RBTBulkUploadTask.class
/RBTLogin.class
/RBTLoginUser.class
/RBTLotteries.class
/RBTLotteryEntries.class
/RBTLotteryNumber.class
/RBTSubscriberPIN.class
/RBTUpgradeTransaction.class
/RDCGroupMembers.class
/RDCGroups.class
/RbtBulkSelectionTask.class
/RbtTempGroupMembers.class
/Retailer.class
/Scratchcard.class
/ShufflePromo.class
/StatusType.class
/Subscriber.class
/SubscriberActivityCounts.class
/SubscriberAnnouncements.class
/SubscriberCDR.class
/SubscriberCharging.class
/SubscriberDownloads.class
/SubscriberPromo.class
/SubscriberStatus.class
/TnbSubscriber.class
/TransData.class
/TrialSelection.class
/UpgradeObject.class
/UserRights.class
/VfRBTUpgradeConsent.class
/ViralBlackListTable.class
/ViralSMSTable.class
